*, ::before, ::after
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::selection
{
	color: black;
	background-color: #ff5964;
}

:focus
{
	outline: black solid 2px;
}

html
{
	font-size: 10px;
}

body 
{
	font-family: 'Open Sans', sans-serif;
}

div.Toastify .Toastify__toast-body
{
	font-size: 1.5rem;
	color: black;
	font-weight: bold;
}