.containerSingup
{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    overflow: hidden;
    max-width: 100%;
    width: 900px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerSingup .background
{
    background: url('../pexels-fauxels-3183197.jpg') center/cover;
    height: 100%;
    flex-basis: 50%;
}

.containerSingup form
{
    flex-basis: 50%;
    height: 100%;
    padding: 2.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.containerSingup form .form_group 
{
    display: block;
    max-width: 300px;
    width: 100%;
    position: relative;
}

.containerSingup form button
{
    border: 2px solid #ff5964;

    padding: 1rem 2rem;
    font-weight: bold;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;

    position: relative;
    z-index: 20;
}

.containerSingup form button::before
{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -20;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #ff5964;
    transform: scaleX(0);
    transform-origin: left; 
    transition: transform 200ms;
}

.containerSingup form button:hover:before
{
    transform: scale(1);
}

.containerSingup form .form_group label
{
    font-size: 1.3rem;
    font-weight: bold;
}

.containerSingup form .form_group input
{
    display: block;
    width: 100%;
    height: 4rem;
    padding: 0.5rem;
    border: 2px solid #dae2e5;
    border-radius: 5px;
}

.containerSingup form .form_group input::placeholder
{
    font-size: 1.4rem;
}

.containerSingup form .form_group span
{
    color: red;
}

.containerSingup form .form_group .showPassword
{
    position: absolute;
    right: 10px;
    top: 30px;
    font-size: 1.7rem;
    cursor: pointer;
}

@media screen and (max-width: 550px)
{
    .containerSingup .background
    {
        display: none;
    }

    .containerSingup form
    {
        flex-basis: 100%;
    }
}